.category h4{
  padding: 20px 0;
  border-bottom: 1px solid black;
  font-size: 30px;
}
ul.sub-cate {
  list-style-type: none;
}
ul.sub-cate > li {
  padding: 0 20px;
  display: flex;
  line-height: 50px;
  border-bottom: 1px solid black;
  position: relative;
}
ul.sub-cate > li:hover {
  background-color: orangered;
  cursor: pointer;
}
ul.sub-cate > li:hover .cate-child {
  opacity:1 ;
  visibility: visible;
}

ul.sub-cate > li > a{
  text-decoration: none;
  color: royalblue; 
  font-size:20px;
}
.cate-child {
  box-shadow: 0 2px 4px 2px rgba(100, 100, 100, 0.2);
  position: absolute;
  left: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
}
.cate-child h5 {
  padding-left: 20px;
  box-shadow: 0 2px 4px 2px rgba(100, 100, 100, 0.2);
  font-size: 30px;
}
.cate-child >li {
  box-shadow: 0 2px 4px 2px rgba(100, 100, 200, 0.2);
  list-style-type: none;
}
.cate-child >li:hover {
  background-color: orangered;
  cursor: pointer;
}
.cate-child >li >a {
  text-decoration: none;
  color: royalblue; 
  padding: 20px 30px;
}