.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
}
.thanks {
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.address {
  font-size: 18px;
  padding-bottom: 20px;
}
.logo-media {
  width:50px;
  margin: 0 50px;
  transition: box-shadow 0.25s;
}
.logo-media:hover{
  cursor: pointer;
  box-shadow: 0 1px 1px 1px rgba(100, 100, 100, 0.2)
}