.header {
  padding: 10px 0;
  background-color: lightblue;
  display: flex;
  grid-template-columns: 200px 1fr;
}
.logo {
  width: 150px;
  border-radius: 100px;
}
.title {
  padding: 50px;
  font-size: 45px;
  font-weight: bold;

}
