.menu {
  background-color: black;
  height: 50px;
  padding-left: 150px;
}
ul.root {
  display: flex;
  height: 100%;
  line-height: 50px;
  list-style-type: none;
  position: relative;
}
ul.root > li {
  transition: opcatity 0.25s, visibility 0.25s;
  list-style-type: none;
}
ul.root > li:hover ul.child {
  opacity: 1;
  visibility: visible;
}
ul.root > li > a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 0 1.2rem;
}
ul.root > li > a:hover {
  background-color: royalblue;  
  display: block;
  
}
ul.child {
  background-color: blanchedalmond;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 2px 4px 3px rgba(100, 100, 100, 0.2)

  
}
.child h4 {
  font-size: 20px;
  box-shadow: 0 2px 4px 3px rgba(100, 100, 100, 0.2);
}
.child li {
  box-shadow: 0 2px 4px 3px rgba(100, 100, 100, 0.2);
  position: relative;
  transition: background-color 0.5s;
}

.child li > a {
  text-decoration: none;
  color: black;
  display: block;
  padding-left: 10px;
  position: relative;
}
.child li:hover ul.f1 {
  opacity: 1;
  visibility: visible;
}
.child li>a:hover {
  background-color:royalblue;
}
ul.f1 {
  background-color: blanchedalmond;
  position: absolute;
  top:0;
  left:100%;
  width: 100%;
  list-style-type: none;
  box-shadow: 0 2px 4px 3px rgba(100, 100, 100, 0.2);
  transition: opcatity 0.25s, visibility 0.25s;
  opacity: 0;
  visibility: hidden;
}

ul.f1 > li >a {
  text-decoration: none;
  color: black;
  display: block;
}